*{
  margin: 0;
  padding: 0;
}
html {
  height:100%;
  font-size: 13px;
  font-family: 'Trebuchet MS';
}
body {
  height: 100%;
  color: #656363;
  background: #f9f9f9;
}
.wrapper {
  width: 970px;
  min-height: 100%;
  padding: 0 45px 60px 45px;
  margin: auto;
  background: white;
  -moz-box-shadow: 0px 0px 2px 1px #c9c9c9;
  -webkit-box-shadow: 0px 0px 2px 1px #c9c9c9;
  box-shadow: 0px 0px 2px 1px #c9c9c9;
}

/* HEADER */
header {
  height: 130px;
}
header p {
  line-height: 130px;
  font-size: 48px;
}

/* MAIN MENU */
.main-menu {
  margin-bottom: 40px;
  background: #545454;
}
.main-menu ul {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
  text-shadow: 1px 1px 2px #282828;
}
.main-menu ul li {
  display: inline-block;
  height: 40px;
  color: white;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: normal;
}
.main-menu ul li:nth-child(1) {
  padding: 0 65px 0 25px;
}
.main-menu ul li:nth-child(1):hover {
  width: 54px;
  padding-left: 24px;
  padding-right: 66px;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  color: white;
  cursor: pointer;
  background: #333333;
}

.main-menu ul li:nth-child(2) {
  padding: 0 25px;
}
.main-menu ul li:nth-child(2):hover {
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  color: white;
  cursor: pointer;
  background: #333333;
}
.main-menu ul li:nth-child(3) {
  padding: 0 60px;
}
.main-menu ul li:nth-child(3):hover {
  padding-left: 59px;
  padding-right: 59px;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  color: white;
  cursor: pointer;
  background: #333333;
}
.main-menu ul li:nth-child(4) {
  padding-left: 35px;
  padding-right: 35px;
}
.main-menu ul li:nth-child(4):hover {
  padding-left: 34px;
  padding-right: 34px;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  color: white;
  cursor: pointer;
  background: #333333;
}
.main-menu li a {
  color: white;
  text-decoration: none;
}

/* ASIDE */
aside {
  float: left;
  width: 240px;
}
aside ul li:first-child {
  border-top: 1px solid #cccccc;
}
aside ul li {
  display: block;
  height: 40px;
  padding-left: 20px;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  line-height: 40px;
}
aside li a {
  color: #656363;
  text-decoration: none;
  cursor: pointer;
}

aside ul li:hover {
  width: 208px;
  padding-left: 30px;
  color: #2c2c2c;
  background: #f9f9f9;
}

/* CONTENT */
.content {
  width: 680px;
  height: 100%;
  margin-left: 290px;
}
.box_img{
  padding: 50px 0 40px 0;
  border: 1px solid #cccccc;
}
.box_img img{
  display: block;
  margin: 0 auto;
}
.box_text{
  padding: 0 20px;
  margin-top: 35px;
  color: #2c2c2c;
  line-height: 1.7;
}

/* FOOTER */
footer {
  height: 40px;
  margin-top: 80px;
  background: #e1e1e1;
}
footer ul a {
  font-size: 0; /* убираем горизонтальные отступы */
  line-height: 0; /* ...и вертикальные в некоторых браузерах */
  font-size: 13px;
  color: #2c2c2c;
  text-decoration: none;
  letter-spacing: -1px; /* переубеждаем webkit'ы */
}
footer ul li {
  display: inline-block;
  height: 40px;
  padding: 0 25px;
  line-height: 40px;
  letter-spacing: normal;
}
footer ul li:hover {
  text-decoration: underline;
}
